In [3]:
import numpy as np
import pandas as pd

In [21]:
# READ IN OUTPUT AS CSV AND PUT INTO A DATAFRAME
data = pd.read_csv('outputs/OnTAD_KRnorm_pen0.1_max200_chr1_100kb.tad',sep="\t",header=None, names=["startpos", "endpos", "TADlevel", "TADmean", "TADScore"])
data
#data.loc[:, ["startpos", "endpos"]] # => only consider start and end positions of TAD detected

     startpos  endpos  TADlevel  TADmean  TADScore
0           1    2493         0    0.275    80.689
1          19      80         1    2.204     4.874
2          19      68         2    2.431     3.992
3          19      60         3    2.603     2.731
4          26      60         4    3.037     1.654
..        ...     ...       ...      ...       ...
182      2446    2478         2    1.631     1.741
183      2446    2467         3    1.677     1.406
184      2446    2453         4    1.475     0.312
185      2453    2467         4    2.121     0.622
186      2467    2478         3    1.213     0.024

[187 rows x 5 columns]

In [39]:
# CONVERT DT TO NP ARRAY AND EXTRACT TAD START AND END POSITIONS AS LIST OF TUPLES
np_data = data.to_numpy()       # convert df to numpy array
 
positions = []                  # initialise empty list to store list of tuples 

for row in np_data:
  positions.append(tuple(row[0:2]))    # keep start and end positions

print(positions[0])

(1.0, 2493.0)

In [40]:
# GENERAL FUNCTION TO RUN ON OUTPUT .TAD FILES

example_tadfile = 'outputs/OnTAD_KRnorm_pen0.1_max200_chr1_100kb.tad'

def ontad_to_tuple_list(tadfile):

    pd_ontad = pd.read_csv(tadfile,sep="\t",header=None, names=["startpos", "endpos", "TADlevel", "TADmean", "TADScore"])
    np_ontad = pd_ontad.to_numpy()

    positions = []
    for row in np_ontad:
        positions.append(tuple(row[0:2]))

    return positions

examples_tuple_list = ontad_to_tuple_list(example_tadfile)
print(examples_tuple_list[0])

(1.0, 2493.0)